/* GLOBAL */
body {
    margin: 0;
    background-color: #0a0a0a;
    color: #e6e6e6;
    font-family: "JetBrains Mono", monospace;
}

/* HEADER */
header {
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #111;
}

header h1 {
    color: #ff003c;
    font-size: 2.5rem;
    margin: 0;
}

.tagline {
    color: #888;
}

/* NAV */
nav {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #111;
}

nav a {
    color: #aaa;
    margin: 0 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #ff003c;
}

/* CONTENT */
.content {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

/* WRITEUP */
.writeup h1, .writeup h2 {
    color: #ff003c;
}

.writeup p {
    line-height: 1.7;
}

/* CODE BLOCKS */
pre {
    background: #050505;
    border-left: 3px solid #ff003c;
    padding: 15px;
    overflow-x: auto;
}

code {
    color: #00ff9f;
}

/* TABLES */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

th, td {
    border: 1px solid #111;
    padding: 12px;
}

th {
    background: #111;
    color: #ff003c;
}

/* BLOCKQUOTE */
blockquote {
    border-left: 3px solid #ff003c;
    padding-left: 15px;
    color: #bbb;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    border-top: 1px solid #111;
    color: #555;
}

/* MOBILE */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    .content {
        padding: 20px;
    }
}
