/* ===== GLOBAL ===== */
body {
    margin: 0;
    background-color: #000000;
    color: #e6e6e6;
    font-family: "JetBrains Mono", monospace;
}

/* ===== HEADER ===== */
header {
    text-align: center;
    padding: 40px 20px;
    border-bottom: 1px solid #111;
}

header h1 {
    color: #ff003c;
    font-size: 2.6rem;
    margin: 0;
    letter-spacing: 3px;
}

.tagline {
    color: #888;
    margin-top: 10px;
}

/* ===== SECTION ===== */
section {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    border-bottom: 1px solid #0d0d0d;
}

/* ===== TITLES ===== */
h2 {
    color: #ff003c;
    margin-bottom: 20px;
}

h3 {
    color: #00ff9f;
}

/* ===== TEXT ===== */
p {
    line-height: 1.7;
    color: #cfcfcf;
}

/* ===== LIST ===== */
ul {
    padding-left: 20px;
}

/* ===== WRITEUP LINKS ===== */
a {
    color: #00ff9f;
    text-decoration: none;
}

a:hover {
    color: #ff003c;
}

/* ===== CODE BLOCK STYLE ===== */
pre {
    background: #050505;
    border-left: 3px solid #ff003c;
    padding: 15px;
    overflow-x: auto;
}

code {
    color: #00ff9f;
}

/* ===== EXPERIENCE BLOCK ===== */
.block {
    margin-bottom: 25px;
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    padding: 30px;
    color: #555;
}

/* ===== MOBILE ===== */
@media (max-width:768px){
    header h1 {
        font-size: 1.8rem;
    }

    section {
        padding: 25px 15px;
    }
}
